<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
</head>
<body>
<style type="text/css">
@media only screen and (max-width:480px){table {width: 100%;}}
@media only screen and (max-width:480px){img.head {width: 100%;}}
@media \0screen {img {width: auto;}}

</style>
<table border="0" width="600" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr style="padding:0;margin:0;line-height:0;">
	<td style="padding:0;margin:0;line-height:0;">
		<a href="#"><img src="http://dantalaya.com/images/dantalaya_logo.jpg" width="600" height="250" alt="head"></a>
	</td>
</tr>
<tr>
	<td style="padding: 20px;">
		<h1 style="font-family: Helvetica, Arial, sans-serif; font-size: 36px; line-height: 1.33; font-weight: lighter; margin-bottom: 5px;">Dear <%= contactName%> ,</h1>
		<p style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; font-weight: lighter;">We have received your response. We will get back to you shortly.</p>
    <h3 style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; padding-left: 60px; font-weight: bold;">"Keep Smiling"</h3>
			<!-- <ul>
				<li style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: lighter; margin-bottom: 5px;">List item</li>
				<li style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: lighter; margin-bottom: 5px;">List item</li>
				<li style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: lighter; margin-bottom: 5px;">List item</li>
				<li style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: lighter; margin-bottom: 5px;">List item</li>
			</ul> -->
      <p style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; font-weight: lighter;">Sincerely,<br>Dantalaya</p>

	</td>
</tr>
<tr style="padding:0;margin:0;line-height:0;">
	<td style="padding:0;margin:0;line-height:0;">
    <hr>
    <p style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; text-align: center; line-height: 1.5; font-weight: lighter;">Dantalaya &#169; <%= new Date().getFullYear(); %>
    </p>

		<!-- <a href="#"><img src="http://placehold.it/600x80" width="600" height="80" alt="foot"></a> -->
	</td>
</tr>
</tbody>
</table>
</body>
</html>
