<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Dantalaya | Smiles for all</title>
	<meta name="keywords" content="Dantalaya">
	<meta name="description" content="Welcome to dantalya, we provide smiles for all!">
	<meta name="subject" content="Dentist">
	<meta name="language" content="en-us">
	<meta name="robots" content="index,follow">
	<meta name="abstract" content="Dantalaya">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="msapplication-TileColor" content="#00CC7B">
	<meta name="theme-color" content="#00CC7B">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" type="image/png" href="images/drawable-ldpi-icon.png"/>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-extension.css" rel="stylesheet">
	<link href="css/sidebar-nav.min.css" rel="stylesheet">
	<link href="css/morris.css" rel="stylesheet">
	<link href="js/lib/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
	<link href="js/lib/multiselect/css/multi-select.css" rel="stylesheet" type="text/css">
	<link href="js/lib/custom-select/custom-select.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
	<link href="js/lib/dropify/dist/css/dropify.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.0/fullcalendar.css" rel="stylesheet"  type="text/css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.0/fullcalendar.print.css" rel="stylesheet"  type="text/css">
	 --><link href="css/animate.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/colors/megna.css" id="theme" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/flickity.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/toastr.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/lib/csv.js"></script>
    <script src="js/lib/pdfmake.js"></script>
    <script src="js/lib/vfs_fonts.js"></script>
    <script src="js/lib/ui-grid.js"></script>


    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

</head>
<!--  add / remove mobile class for mobile apps -->
<body ng-app="dantalayaApp" class="">

	<div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div>

    <section class="">
        <div class="container-fluid dtop">
            <div class="row" ng-controller="menubarController">
                <div class="col-md-4">
                    <p class="dtopaddr"><i class="fa fa-phone-square" aria-hidden="true" style="color:#2ecc71;"></i>+91 7975422748 &nbsp; - &nbsp; <i class="fa fa-envelope" aria-hidden="true" style="color: #2ecc71"></i>
                        info@dantalaya.com
                    </p>
                </div>

                <div class="col-md-8">
                	 <a href="#login"  ng-if="!userLoggedin" ng-click="scrollTo('login')">
                        <div class="btn dbtn" id="loginbutton"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</div>
                    </a>
                    <a href="#/register" ng-if="!userLoggedin">
                        <div class="btn  dbtn"><i class="fa fa-user-plus" aria-hidden="true"></i>  New Registration</div>
                    </a>
                    <div class="dropdown user-menu" ng-if="userLoggedin">
                  		<button class="btn btn-default dropdown-patient" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                    {{userId}}
	                    <span class="caret"></span>
	                  </button>
	                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	                    <li ng-if="userType == 'patient'"><a href="#/dashboard">Dashboard</a></li>
	                    <li ng-if="userType == 'doctor'"><a href="#/doctor/dashboard">Dashboard</a></li>
	                    <li><a href="#/{{userType}}profile">Profile</a></li>
	                    <li><a href="#/changepassword">Change Password</a></li>
	                    <li role="separator" class="divider"></li>
	                    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
	                  </ul>
                	</div>
                </div>
            </div>
        </div>
    </section>

	<div class="doctorOverlay" ng-style="{ 'display' : nobank ? 'block' : 'none' }" style="display:none;">
		<p>Kindly Update Your Bank Details to Receieve Payments from patients and fully access the features of Danatalaya</p>
		<a href="#/doctorprofile">Go To Profile Page</a>
	</div>


    <nav class="navbar navbar-default mobilehidden" ng-if="userType != 'patient' && userType != 'admin' && userType !='doctor'" ng-controller="navcontroller">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" ng-class="{'navbar-toggle collapsed': userType != 'patient','navbar-toggle collapsed hide': userType == 'patient'}" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">
                    <div class="dimg">
                        <img src="images/dantalaya_logo.jpg" alt="Logo" />
                    </div>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav dnav" ng-controller="middleController">
                    <li ng-class="{'dlogo' : userType != 'patient', 'dlogo navbar-center' : userType == 'patient'}">
                        <a class="navbar-brand" href="#/home">
                            <div class="dimg"><img src="images/dantalaya_logo.jpg" alt="Logo" /></div>
                        </a>
                    </li>
                    <li class="dlifirst" ng-if="!userLoggedin"><a href="#/home" ng-class="{'current' : getUrl('/home')}">Home</a></li>
                    <li><a href="#/about" ng-if="!userLoggedin" ng-class="{'current' : getUrl('/about')}">About Us</a></li>
                    <li><a href="#/services" ng-if="!userLoggedin" ng-class="{'current' : getUrl('/services')}">Our Services</a></li>
                    <li><a href="#/specialization" ng-if="!userLoggedin" ng-class="{'current' : getUrl('/specialization')}">Specializations</a></li>
                    <li><a href="#/contact" ng-if="!userLoggedin" ng-class="{'current' : getUrl('/contact')}">Contact Us</a></li>
                    <li ng-hide="userLoggedin">
                        <input tabindex="1" type="text" name="name" class="text dsearch" Placeholder="Search">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- if patient signed input -->

    <section ng-if="userType == 'patient' || userType == 'admin' " class="patient-header">
      <div class="">
        <a href="#/home">
          <img src="images/dantalaya_logo.jpg" alt="Logo" />
        </a>
      </div>
    </section>


    <div ui-view></div>


    <!--    Footer-->

    <footer class="mobilehidden">
        <div class="">

            <div class="row dfoot dpad">
                <div class="col-md-8 dquick">
                    <h3>Quick Links</h3>

                    <div class="row">

                        <div class="col-md-4">
                            <ul class="dqli">
                                <li><a href="#/home">Home</a></li>
                                <li><a href="#/about">About Us</a></li>
                                <li><a href="#/services">Our Services</a></li>
                                <li><a href="#/contact">Contact Us</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <ul class="dqli">
                                <li><a href="#/specialization">Specializations</a></li>
                                <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4 dprac">
                            <p>Phone: +91 9110876757</p>
                            <p class="dindent"></p>
                            <p>Email: info@dantalaya.com</p>
                            <p>Website: www.dantalaya.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 dlast">
                     <h1>Dantalaya</h1>
                    <hr class="dfothr">
                    <h4>Smiles for all</h4>
                    <p>
                        <a href="https://www.facebook.com/Dantalay/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/dantalaya" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
                        <a href="https://www.linkedin.com/company/dantalaya/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a>
                        <a href="https://www.youtube.com/channel/UCruMf-0S8ZQkMsZCzfA0EtQ?guided_help_flow=3
"><i class="fa fa-youtube" aria-hidden="true"></i></i></a>
<a href="https://www.instagram.com/dantalaya" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.Pinterest.com/dantalaya" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>

                    </p>
                 </div>
            </div>
            <div class="row dcopy">
                <div class="col-md-12">
                    <p>Copyright @ Dantalaya 2018. Developed by <a target="_blank" href="https://www.padink.in/">Padink</a></p>
                </div>
            </div>
        </div>
    </footer>

	<div id="line-example"></div>

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/flickity.pkgd.min.js"></script>
    <script src="js/lib/owl.carousel.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/toastr.min.js"></script>

	<script src="js/lib/tether.min.js"></script>
	<!-- <script src="js/lib/bootstrap-extension/js/bootstrap-extension.min.js"></script> -->
	<script src="js/lib/sidebar-nav/dist/sidebar-nav.min.js"></script>
	<script src="js/lib/jquery.slimscroll.js"></script>
	<script src="js/lib/waves.js"></script>
	<script src="js/lib/raphael/raphael-min.js"></script>
	<!-- <script src="js/lib/morrisjs/morris.js"></script>  -->
	<script src="js/lib/jquery-sparkline/jquery.sparkline.min.js"></script>
	<script src="js/lib/peity/jquery.peity.min.js"></script>
	<script src="js/lib/peity/jquery.peity.init.js"></script>
	<!-- <script src="js/lib/dashboard1.js"></script>  -->
	<script src="js/lib/styleswitcher/jQuery.style.switcher.js"></script>
	<script src="js/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="js/lib/moment/moment.js"></script>
	<script src="js/lib/dropify/dist/js/dropify.min.js"></script>
	<script type="text/javascript">jQuery('.mydatepicker').datepicker();</script>
	<script src="js/lib/jasny-bootstrap.js"></script>
	<script src="js/lib/mask.js"></script>
	<script src="js/lib/datatables/jquery.dataTables.min.js"></script>
	<script src="js/lib/cbpFWTabs.js"></script>
	<script src="js/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
	<script src="js/lib/multiselect/js/jquery.multi-select.js"></script>
	<script src="js/lib/fullcalendar.js"></script>
	<script src="js/lib/custom-select/custom-select.min.js" type="text/javascript"></script>
	<script src="js/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
	<script src="https://js.instamojo.com/v1/checkout.js"></script>
	<script src="js/lib/custom.min.js"></script>


    <script src="js/main.js"></script>
    <script src="js/validationService.js"></script>
    <script>
    $(document).ready(function(){

      $("#loginbutton").click(function(e){
        e.preventDefault();
        $(location).attr('href','/#/home');
        $("#Username").focus();
    });
    });



    </script>




</body>

</html>
