
    <section>
        <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                <img src="../images/aboutus.jpg" alt="aboutus"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <!--<div class="row">-->
                <!--<div class="col-md-12 dabt">-->
                    <!--<p>This starts with helping them to find the best doctors in their locality and offering comprehensive dental health information at the click of a button so that you can make better decision.</p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-12 dabt">
                <ul class="dserlileft">
                <li>Dantalaya or "Danta-chikitsalaya" is a platform <b>exclusively</b> for Dental Practitioners. </li>
                <li>Dantalaya is an <b>online platform</b> that enables the general public to find solutions to their Dental problems </li>
                <li> At Dantalaya you can meet your <b>Family Dentist</b> and avail unbelievable Dental Services at very affordable prices!</li>
                <li>The <b>largest network</b> of Dentists will now guide you and your entire family so that you don't have to fear the treatment procedures or the expenditure.</li>
                <li> At Dantalaya we make sure <b>no one postpones</b> the treatment!</li>
                <li>Dental surgeons in <b>rural and urban</b> areas will work together to make Dental treatment <b>accessible</b> to everyone in the country!.</li>
                <li> Dantalaya offers attractive packages to the <b>families of armed personal, central government employees, state government employees and employees from small scale businesses.</b></li>
                <li> For the first time in the country <b>Foreigners and NRIs</b> will avail Dental treatment from experienced Doctors at never before prices!</li>


                </ul>
                </div>
            </div>
        </div>
        <hr class="dabthr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 dabt">

                    <h2> Treatment First:Payment Later</h2>

                    <p class="dabtpad">
                    <center>
                    
                     Payment methods made easy: <b>credit/debit card, online transfer, cheques and EMIs.</b>
                    <div><small>(Contact your Dental Surgeon for more information.)</small></div>
                    
                    </center>

                        <!-- The Mission is to improve patients lives by reducing the harm caused by oral diseases-many of which are entirely preventable and providing Treatment at affordable prices. Great oral health is an essential part of a healthy lifestyle. Our individual Dental EMI plans can help you maximize your oral health without worrying about any painful procedures &amp; Treatment Cost. -->
                    </p>



                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 dabt">
                <h3><b>Mission:</b></h3>
                    <p>To create a collaborative approach for helping people get connected to the:</p>
                    <ul>
                        <li>Nearest Dentist at any particular given point of time;</li>
                        <li>Achieve ‘zero-patient-rejection’ rate.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 dabt">
                    <h3><b>Vision:</b></h3>
                    <ul>
                        <li>To ensure everyone has easy access to Dental care solutions which are immediately available.</li>
                        <li>Uniform, fair and transparent prices across India by connecting patients, Dentists and vendors.</li>
                        <!--<li>Provide expert oral suggestions, tips and homemade remedies to every user.</li>-->
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 dabt">
                    <p>Connecting Oral experts with best practices through enhanced technologies for healthier and safer Oral care solutions.</p>
                </div>
            </div>
        </div>

    </section>


