<div class="container">

	<div>

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" ng-class="{active: userActivation}"><a href="javascript:void(0)" aria-controls="home" role="tab" data-toggle="tab" ng-click="toggleTab('userActivation')">User Activation</a></li>
	    <li role="presentation" ng-class="{active: search}"><a href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab"  ng-click="toggleTab('search')">Search</a></li>


	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" ng-class="{active: userActivation}" class="tab-pane" id="home">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Username</th>
						<th>Profile</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in getAccounts">
						<th><a href="javascript:void(0)" ng-click="userDetails(user.username)">{{user.username}}</a></th>
						<td>{{user.profile}}</td>
						<td><button type="button" class="btn btn-primary" ng-click="activate(user.username)">Activate</button></td>
						<td><button type="button" class="btn btn-danger" ng-click="reject(user.username, user.email)">Reject</button></td>
					</tr>
				</tbody>
			</table>

		</div>
	    <div role="tabpanel" class="tab-pane" id="profile" ng-class="{active: search}">
	    <!-- `<div> -->
	    		<!-- <div>
	    			<input type="checkbox" ng-model="checkbox.patient"> Patient &nbsp;&nbsp;
	    			<input type="checkbox"  ng-model="checkbox.doctor"> Dentist &nbsp;&nbsp;
	    			<input type="checkbox"  ng-model="checkbox.surgeon"> House Surgeon &nbsp;&nbsp;
	    			<input type="checkbox"  ng-model="checkbox.technician"> Lab Technician &nbsp;&nbsp;
	    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    			<button type="button" class="btn btn-primary" ng-click="getAllAccounts()">Get Details</button>
	    		</div>
	    		<br>
		  </div> -->
		  <!-- <table class="table table-striped" ng-if="allUserData.length != 0">
				<thead>
					<tr>
						<th>Username</th>
						<th>Profile</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in allUserData" ng-if="user.data.username">
						<th><a href="javascript:void(0)" ng-click="userDetails(user.data.username)">{{user.data.username}}</a></th>
						<td>{{user.data.profile}}</td>
					</tr>
				</tbody>
			</table>
			<h3 ng-if="allUserData.length == 0 && showerror">No Data</h3> -->
			<section id="dpreg">
				<div class="row">
					<div class="col-md-6">
						<label for="usersearch">Search Users</label>
						<input id="usersearch" type="text" value="" ng-model="userEmail" size="35" >
					</div>
					<div class="col-md-6">
						 <button type="submit" class="btn dbtn" style="margin: 22px -70px; padding: 16px 40px;" ng-click="searchUser(userEmail)">search</button>
					</div>
				</div>
				<div class="" ng-show="userNotFound">
					No Records Found !
				</div>
				<div ng-if="showUserData != null" class="row">
					<div ng-if="showUserData.data.profile == 'patient' ">
						<div class="card">
							<div class="card-header">
								<img src="images/pat.png" alt="">
							</div>
							<div class="card-content">
								<h3>{{showUserData.data.firstname + " " + showUserData.data.lastname}}</h3>
								<h4>{{showUserData.data.gender}}</h4>
								<hr class="cardhr">
								<p>Date Of Birth : <span>{{showUserData.data.dob | date:'dd-MM-yyyy'}}</span></p>
								<p>Mobile : <span>{{showUserData.data.mobile}}</span></p>
								<p>Email : <span>{{showUserData.data.email}}</span></p>
								<p>Address : <span>{{showUserData.data.address}}</span></p>
								<p>State : <span>{{showUserData.data.state}}</span></p>
								<p>City : <span>{{showUserData.data.city}}</span></p>
								<p>Zip Code : <span>{{showUserData.data.pin}}</span></p>
							</div>
						</div>




						<div class="container-fluid patienTtreatment treatment ">
							<div class="row bg-title">
								<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
									<h4 class="page-title">Treatment Details</h4>
								</div>
								<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
									<ol class="breadcrumb">
										<li><a href="#">Dashboard</a></li>
										<li class="active">Treatment Details</li>
									</ol>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="white-box">
										<div class="row">
											<div class="col-md-3 col-xs-6 b-r">
												<strong>Full Name</strong> <br>
												<p class="text-muted">{{showUserData.data.firstname}} {{showUserData.data.lastname}}</p>
											</div>
											<div class="col-md-3 col-xs-6 b-r">
												<strong>Mobile</strong> <br>
												<p class="text-muted">{{showUserData.data.mobile}}</p>
											</div>
											<div class="col-md-3 col-xs-6 b-r">
												<strong>Email</strong> <br>
												<p class="text-muted">{{showUserData.data.email}}</p>
											</div>
											<div class="col-md-3 col-xs-6">
												<strong>Patient ID</strong> <br>
												<p class="text-muted">{{showUserData._id}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>










					</div>
					<div ng-if="showUserData.data.profile == 'doctor' ">
						<div class="card" style="height: 1400px; width: 750px">
							<div class="card-header">
								<img src="images/doc.png" alt="">
							</div>
							<div class="card-content">
								<h3>{{showUserData.data.firstname + " " + showUserData.data.lastname}}</h3>
								<h4>{{showUserData.data.gender}}</h4>
								<hr class="cardhr">
								<p>DCI No : <span>{{showUserData.data.dciregno}}</span> </p>
								<p>Qualification : <span>{{showUserData.data.qualification}}</span></p>
								<p>Specialization : <span>{{showUserData.data.specialization}}</span></p>
								<p>Experience : <span>{{showUserData.data.exp}}</span> </p>
								<p>Date Of Birth : <span>{{showUserData.data.dob | date:'dd-MM-yyyy'}}</span></p>
								<p>Mobile : <span>{{showUserData.data.mobile}}</span></p>
								<p>Email : <span>{{showUserData.data.email}}</span></p>
								<p>Address : <span>{{showUserData.data.address}}</span></p>
								<p>State : <span>{{showUserData.data.state}}</span></p>
								<p>City : <span>{{showUserData.data.city}}</span></p>
								<p>Zip Code : <span>{{showUserData.data.pin}}</span></p>
								<p>Clinic Name : <span>{{showUserData.data.clinicname}}</span></p>
								<p>Clinic Address : <span>{{showUserData.data.clinicaddress}}</span></p>
								<p>Clinic Contact : <span>{{showUserData.data.cliniccontact}}</span></p>
								<p>Working Hours : <span>{{showUserData.data.hours}}</span></p>
								<p>Clinic State : <span>{{showUserData.data.clinicstate}}</span></p>
								<p>Clinic City : <span>{{showUserData.data.cliniccity}}</span></p>
								<p>Clinic Zip Code : <span>{{showUserData.data.clinicpin}}</span></p>
								<p>Website : <span>{{showUserData.data.clinicwebsite}}</span></p>



							</div>
						</div>
					</div>

					<div ng-if="showUserData.data.profile == 'surgeon' ">
						<div class="card" style="height: 800px">
							<div class="card-header">
								<img src="images/sur.png" alt="">
							</div>
							<div class="card-content">
								<h3>{{showUserData.data.firstname + " " + showUserData.data.lastname}}</h3>
								<h4>{{showUserData.data.gender}}</h4>
								<hr style="cardhr">
								<p>Date Of Birth : <span>{{showUserData.data.dob | date:'dd-MM-yyyy'}}</span></p>
								<p>Mobile : <span>{{showUserData.data.mobile}}</span></p>
								<p>Email : <span>{{showUserData.data.email}}</span></p>
								<p>Address : <span>{{showUserData.data.address}}</span></p>
								<p>State : <span>{{showUserData.data.state}}</span></p>
								<p>City : <span>{{showUserData.data.city}}</span></p>
								<p>Zip Code : <span>{{showUserData.data.pin}}</span></p>
								<p>Internship Start : <span>{{showUserData.data.internshipstartdate | date:'dd-MM-yyyy'}}</span> </p>
								<p>Internship End : <span>{{showUserData.data.intershipcompdate | date:'dd-MM-yyyy'}}</span> </p>
							</div>
						</div>
					</div>

					<div ng-if="showUserData.data.profile == 'technician' ">
						<div class="card" style="height: 900px">
							<div class="card-header">
								<img src="images/lab.png" alt="">
							</div>
							<div class="card-content">
								<h3>{{showUserData.data.firstname + " " + showUserData.data.lastname}}</h3>
								<h4>{{showUserData.data.gender}}</h4>
								<hr class="cardhr">
								<p>Date Of Birth : <span>{{showUserData.data.dob | date:'dd-MM-yyyy'}}</span></p>
								<p>Mobile : <span>{{showUserData.data.mobile}}</span></p>
								<p>Email : <span>{{showUserData.data.email}}</span></p>
								<p>Address : <span>{{showUserData.data.address}}</span></p>
								<p>State : <span>{{showUserData.data.state}}</span></p>
								<p>City : <span>{{showUserData.data.city}}</span></p>
								<p>Zip Code : <span>{{showUserData.data.pin}}</span></p>
								<p>Lab Name : <span>{{showUserData.data.labname}}</span></p>
								<p>Working Hours : <span>{{showUserData.data.hours}}</span></p>
							</div>
						</div>
					</div>

				</div>


				</div>



			</section>

		  <div ng-cloak="" class="tabsdemoDynamicHeight" ng-if="showUserData.data.profile == 'patient' ">
			  <md-content>
				  <md-tabs md-dynamic-height="" md-border-bottom="">
					  <md-tab label="Current Treatment">
						  <md-content class="md-padding">
							  <label class="control-label col-md-3">Current Treatments</label>
							  <div class="col-md-9">
								  <select ng-model="userSelectedCurrentTreatmentId" ng-options="x for x in userCurrentTreatmentIds"></select>
							  </div>
							  <div class="row">
								  <div class="col-md-6">
									  <div class="form-group">
										  <label class="control-label col-md-3">Treatment
											  ID:</label>
										  <div class="col-md-9">
											  <p class="form-control-static" style="padding-top: 7px">{{userTreatmentId}}</p>
										  </div>
									  </div>
								  </div>
								  <div class="col-md-6">
									  <div class="form-group">
										  <label class="control-label col-md-5">Treatment
											  Start Date:</label>
										  <div class="col-md-6">
											  <p class="form-control-static" style="padding-top: 7px">{{treatment.startdate | date}}</p>
										  </div>
									  </div>
								  </div>
							  </div>


						  </md-content>
					  </md-tab>
					  <md-tab label="two">
						  <md-content class="md-padding">
							  <h1 class="md-display-2">Tab Two</h1>
							  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
							  <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
							  <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
						  </md-content>
					  </md-tab>
					  <md-tab label="three">
						  <md-content class="md-padding">
							  <h1 class="md-display-2">Tab Three</h1>
							  <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
						  </md-content>
					  </md-tab>
				  </md-tabs>
			  </md-content>
		  </div>
	    </div>
	  </div>


	</div>


</div>

 <div class="modal fade" id="userdetailsModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Details</h4>
        </div>
        <div class="modal-body">
          <div class="profilecard">
              <div style="font-weight: bolder" class="doctorname"><p>{{userData.data.firstname}}  {{userData.data.lastname}}  ( {{userData.data.specialization}} )</p></div>
              <hr>
              <div class="doctormeta">
                  <div class="doctorphoto">
                      <img ng-src="{{userData.data.photo ? userData.data.photo : '../images/doctor1.png'}}" alt="">
                  </div>
                  <div class="doctordetails">
                       <div class="doctoraddress">First Name : <span style="font-weight: bold">{{userData.data.firstname}}</span></div>
                       <div class="doctoraddress">Last Name  : <span style="font-weight: bold">{{userData.data.lastname}}</span></div>
                       <div class="doctoraddress">Gender     :<span style="font-weight: bold">{{userData.data.gender}}</span></div>
                       <div class="doctoraddress">DOB        :<span style="font-weight: bold">{{userData.data.dob | date}}</span></div>
                       <div class="doctoraddress">Address    :<span style="font-weight: bold">{{userData.data.address}}</span></div>
                       <div class="doctoraddress">Email      :<span style="font-weight: bold">{{userData.data.email}}</span></div>

                  </div>
              </div>
              <hr>
              <div class="doctorworking">Working hours - <span style="font-weight: bold">{{userData.data.hours}}</span></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
