 <section class="forgot-pass">
        <div class="row">
            <div class="col-md-12">
                <p class="dregihead">Change Password?</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">
                <form>
                  <input type="password" name="pass" placeholder="Enter your current password" ng-model="pass.oldpass">
                  <input type="password" name="newpass" placeholder="Enter NEW Password" ng-model="pass.newpass">
                  <input type="password" name="pass1" placeholder="Enter New Password Again" ng-model="pass.newpassfinal">
                  <p class="text-danger" ng-if="showError"><small>Passwords are not matching</small></p>
                  <a href="javascript:void(0)"><div class="btn dbtn" ng-click="changepass()">Change Password</div></a>
                </form>
                </div>
            </div>
        </div>
    </section>