 <section ng-if="userType == 'doctor'" class="patient-header ng-scope">
  <div class="">
    <a href="#/home">
      <img src="images/dantalaya_logo.jpg" alt="Logo">
    </a>
  </div>
</section>
 <div style="margin: 50px;">
	<div  id="grid1"  ui-grid="gridOptions"  ui-grid-selection class="grid"></div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="statement">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Statement for {{monthYear}}</h4>
      </div>
      <div class="modal-body dental-popup">
      	<div style="height:500px; overflow-y:auto">
      	 <table class="table table-striped table-hover">
		  	<thead>
		  	 	<tr>
		  	 		<td>Bill ID</td>
		  	 		<td>Treatment ID</td>
		  	 		<td>Date</td>
		  	 		<td>Treatment Cost Amount</td>
		  	 	<tr>
		  	<thead>
		  	<tbody>
		  		<tr ng-repeat="statement in statementData">
		  	 		<td>{{statement.billid}}</td>
		  	 		<td>{{statement.treatmentId}}</td>
		  	 		<td>{{statement.time | date}}</td>
		  	 		<td>{{statement.amount}}</td>
		  	 	</tr>
		  	</tbody>
		 </table>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->