<style>
    form .ng-invalid.ng-dirty { background-color: lightpink; }
    form .ng-valid.ng-dirty { background-color: lightgreen; }
    span.summary.ng-invalid { color: red; font-weight: bold; }
    span.summary.ng-valid { color: green; }
    span.error {color: red; font-weight: bold;}
</style>
<section id="contact" ng-controller="formCtrl">

    <div class="container">
        <div class="row">
            <div class="col-md-6 dabtc">
                <h2>Request For Information</h2>
                <form  id="contactForm" name="contactForm" novalidate>
                    <fieldset>

                        <div>
                              <span class="error" ng-show="contactForm.contactName.$invalid && contactForm.contactName.$touched">
                                <span ng-show="contactForm.contactName.$error.pattern">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; enter a valid name
                                </span>
                                <span ng-show="contactForm.contactName.$error.required">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;enter a Name
                                </span>
                            </span>
                            <label for="contactName">Name <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactName" name="contactName" ng-pattern="/^[a-zA-Z ]{2,30}$/" required ng-model="contactName">
                        </div>

                        <div>
                            <span class="error" ng-show="contactForm.contactEmail.$invalid && contactForm.contactEmail.$touched">
                                <span ng-show="contactForm.contactEmail.$error.email">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Please enter a valid email address
                                </span>
                                <span ng-show="contactForm.contactEmail.$error.required">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Please enter a email id
                                </span>
                            </span>
                            <label for="contactEmail">Email <span class="required">*</span></label>
                            <input type="email" value="" size="35" id="contactEmail" name="contactEmail"  required autofill-prediction="EMAIL_ADDRESS" ng-model="contactEmail">

                        </div>

                        <div>
                            <span class="error" ng-show="contactForm.contactSubject.$invalid && contactForm.contactSubject.$touched">
                                <span ng-show="contactForm.contactSubject.$error.pattern">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Please enter a valid Phone Number
                                </span>
                                <span ng-show="contactForm.contactSubject.$error.required">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Please enter a Phone Number
                                </span>
                            </span>
                            <label for="contactSubject">Phone<span class="required">*</span></label>
                            <input type="number"  ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im" required  id="contactSubject" name="contactSubject" autofill-prediction="UNKNOWN_TYPE" ng-model="contactPhone">
                        </div>

                        <div>
                            <span class="error" ng-show="contactForm.contactMessage.$invalid && contactForm.contactMessage.$touched">

                                <span ng-show="contactForm.contactMessage.$error.required">
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Please enter a Message
                                </span>
                            </span>
                            <label for="contactMessage">Message <span class="required">*</span></label>
                            <textarea cols="25" rows="5" required id="contactMessage" name="contactMessage" ng-model="contactMessage"></textarea>
                        </div>

                        <button class="btn dbtn dbtnc pull-right" ng-disabled="contactForm.$invalid" ng-click="contactForms()">Submit</button>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-6 dabtc">

                <!--                    <h2>Contact Dantalaya</h2>-->

                <div class="row">
                    <div class="col-md-12 dcon">
                        <h1>Dantalaya</h1>
                        <hr class="dfothr">
                        <h4>Smiles for all</h4>
                        <p>
                            <a href="https://www.facebook.com/Dantalaya-1918614108360564/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/dantalayaindia"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a>
                            <a href="https://www.youtube.com/channel/UCruMf-0S8ZQkMsZCzfA0EtQ?guided_help_flow=3"><i class="fa fa-youtube" aria-hidden="true"></i></i></a>
                            <a href="https://www.instagram.com/dantalaya" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://www.Pinterest.com/dantalaya" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>

                        </p>
                    </div>
                    <!--
                                            <div class="col-md-5 dcon">
                                                <img src="../images/MapEmbedNEWMaps.jpg" alt="">
                                            </div>
                    -->
                </div>


            </div>

        </div>
    </div>



</section>
