

    
    <section>
 
           <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 dabt">
                  <p class="dserhead">Dantalaya for Dental Surgeons</p>
                    <div class="row" style="margin: 30px 0px;">
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                <p>Update your contacts and qualification details</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                <p> Allow patients to schedule online appointments</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                <p> Maintain patient records for future references.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 30px 0px;">
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <p>Ratings and reviews help in improving quality of your Treatments.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                                <p>Search &amp; Locate House Surgeon</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                <p>Search &amp; Locate Dental Labs / Technicians</p>
                            </div>
                        </div>
                    </div>
                  <div class="row">
<!--            <img src="../images/patient.jpg" alt="services">-->
            </div>
            
            <ul class="dserpad">
               <li>Dantalaya is an online platform catering exclusively to the the largest network of Dental Practitioners in India!</li>
               <li>Doctors from rural and <b>urban </b> areas have come together for the first time in the country to provide Dental Care to the general public. </li>
               <li> <b>90% </b> of the population requires treatment and this cannot be achieved with one Dentist. </li>
               <li>The network of Dental Surgeons will provide care for the entire population! </li>
               <li>Dental treatment is not expensive, neglecting Dental Health is!</li>
               <li>Patients postpone or ignore Dental treatment for various reasons, fear being the most common and financial difficulties being the next best reason.</li>
               <li>This problem is prevailing in every clinic.</li>
               <li>At Dantalaya patients will be referred to you who have already been <b>briefed</b> about treatment costs.</li>
                <li>Only when patients pay, the Dental Surgeons will make money!</li>
               <li>Treatment prices have been made very affordable to achieve <b>"zero-patient-rejection" rate in every Dental Clinic - pan India! </b></li>

               <li>Patients from every <b>State</b> in the country have registered for Dental treatment!</li>
               <li>Doctors need not worry about <b>nagging patients</b> anymore!</li>
               <li>Increase the patient inflow like never before.</li>
               <li>For the first time in the country, Foreigners and <b>NRI's</b> will seek your services!</li>
               <li>Introducing <b>full- mouth rehabilitation</b> programs for every one!</li>
               <li><b>Flexible payment</b> options have been introduced to make your practice easier!</li>
               <li>Accept payments via debit card/ credit card, online transfer and cheques.</li>
               <li><b>EMI</b> options introduced for certain Dental procedures. </li>
               <li><b>Upgrade</b> your practice, maintain patient records for future references. </li>
               <li>Dantalaya offers the busy Dental surgeon <b>innumerable services</b>: 
               <ol> <li>Patient referral</li>
                <li>Scheduling appointments</li>
                <li>Payment processing</li>
                <li>Patient records maintenance</li>
                <li>Supply of Dental materials online</li>
                <li>Dental technicians</li>
                </ol>
               </li>
               <li><b>Junior</b> Doctors to assist with your practice and during vacation!</li>
               <li>Assisting <b>Foreigners</b> in reaching your clinic on time. </li>
               <li> For the first time in India, Dental Health Services will be organized to cater to people belonging to any <b>Nationality</b> while in the country.</li>
               <li>Attractive packages for <b>children</b> have been introduced to reduce complications and anxiety in the future!</li>
               <li> Every 4/6 month <b>recall</b> of the patients will ensure continuous practice and instill discipline in maintaining Oral Hygiene.</li>
               <li> Treat your patients for the best price and enhance your skills!</li>
               <li> Be a part of one of the most <b>noble professions</b> in the world . </li>
               <li> Make the country achieve a <b>"zero- patient-rejection" </b>rate and be the one to make Dentistry smile! </li>
               <a href="#/doctorregister"><div class="btn btn-block dbtn dbtn1">Register as Dental Surgeon Now</div></a>

</ul>
    </section>