<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Payments</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">Dashboard</a></li>
				<li class="active">Payments</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h3 class="box-title m-b-0">Hospital Payments Details</h3>
				<hr>
				<div class="table-responsive">
					<div id="myTable_wrapper" class="dataTables_wrapper no-footer">
						<div class="dataTables_length" id="myTable_length">
							<label>Show <select name="myTable_length"
								aria-controls="myTable" class=""><option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option></select> entries
							</label>
						</div>
						<div id="myTable_filter" class="dataTables_filter">
							<label>Search:<input type="search" class=""
								placeholder="" aria-controls="myTable"></label>
						</div>
						<table id="myTable"
							class="table table-striped dataTable no-footer" role="grid"
							aria-describedby="myTable_info">
							<thead>
								<tr role="row">
									<th class="sorting_asc" tabindex="0" aria-controls="myTable"
										rowspan="1" colspan="1" aria-sort="ascending"
										aria-label="No: activate to sort column descending"
										style="width: 100px;">No</th>
									<th class="sorting" tabindex="0" aria-controls="myTable"
										rowspan="1" colspan="1"
										aria-label="Patient: activate to sort column ascending"
										style="width: 228px;">Patient</th>
									<th class="sorting" tabindex="0" aria-controls="myTable"
										rowspan="1" colspan="1"
										aria-label="Doctor: activate to sort column ascending"
										style="width: 183px;">Doctor</th>
									<th class="sorting" tabindex="0" aria-controls="myTable"
										rowspan="1" colspan="1"
										aria-label="Date: activate to sort column ascending"
										style="width: 156px;">Date</th>
									<th class="sorting" tabindex="0" aria-controls="myTable"
										rowspan="1" colspan="1"
										aria-label="Charges: activate to sort column ascending"
										style="width: 169px;">Charges</th>
									<th class="sorting" tabindex="0" aria-controls="myTable"
										rowspan="1" colspan="1"
										aria-label="Discount: activate to sort column ascending"
										style="width: 179px;">Discount</th>
									<th class="sorting" tabindex="0" aria-controls="myTable"
										rowspan="1" colspan="1"
										aria-label="Total: activate to sort column ascending"
										style="width: 131px;">Total</th>
								</tr>
							</thead>
							<tbody>






























								<tr role="row" class="odd">
									<td class="sorting_1">65</td>
									<td>Brielle Williamson</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$610</td>
									<td>15%</td>
									<td>$372</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">67</td>
									<td>Herrod Chandler</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$590</td>
									<td>15%</td>
									<td>$137</td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">73</td>
									<td>Ashton Cox</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$660</td>
									<td>15%</td>
									<td>$860</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">76</td>
									<td>Brielle Williamson</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$610</td>
									<td>15%</td>
									<td>$372</td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">77</td>
									<td>Herrod Chandler</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$590</td>
									<td>15%</td>
									<td>$137</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">80</td>
									<td>Rhona Davidson</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$550</td>
									<td>15%</td>
									<td>$327</td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">83</td>
									<td>Rhona Davidson</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$550</td>
									<td>15%</td>
									<td>$327</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">90</td>
									<td>Colleen Hurst</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$390</td>
									<td>15%</td>
									<td>$205</td>
								</tr>
								<tr role="row" class="odd">
									<td class="sorting_1">95</td>
									<td>Airi Satou</td>
									<td>Steve Gection</td>
									<td>2011/04/25</td>
									<td>$330</td>
									<td>15%</td>
									<td>$162</td>
								</tr>
								<tr role="row" class="even">
									<td class="sorting_1">100</td>
									<td>Sonya Frost</td>
									<td>Steve Gection</td>
									<td>2008/12/13</td>
									<td>$230</td>
									<td>15%</td>
									<td>$103</td>
								</tr>
							</tbody>
						</table>
						<div class="dataTables_info" id="myTable_info" role="status"
							aria-live="polite">Showing 21 to 30 of 30 entries</div>
						<div class="dataTables_paginate paging_simple_numbers"
							id="myTable_paginate">
							<a class="paginate_button previous" aria-controls="myTable"
								data-dt-idx="0" tabindex="0" id="myTable_previous">Previous</a><span><a
								class="paginate_button " aria-controls="myTable" data-dt-idx="1"
								tabindex="0">1</a><a class="paginate_button "
								aria-controls="myTable" data-dt-idx="2" tabindex="0">2</a><a
								class="paginate_button current" aria-controls="myTable"
								data-dt-idx="3" tabindex="0">3</a></span><a
								class="paginate_button next disabled" aria-controls="myTable"
								data-dt-idx="4" tabindex="0" id="myTable_next">Next</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>