<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">My Schedule</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">Dashboard</a></li>
				<li class="active">My Schedule</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="">
			<div class="white-box">
					<div id='calendar'></div>
			</div>
		</div>
		
	</div>
	
	
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="confirmDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" ng-contoller="schedulerController">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Appointment</h4>
      </div>
      <div class="modal-body">
      	<div>
      		 <fieldset>
   				 <legend><h5>Details</h5></legend>{{currentEvent}}
		      		<div><label class="width170">Description  : </label> {{currentEvent.title}}</div>
		      		<div><label class="width170">Patient Name : </label> {{currentEvent.patientName}}</div>
		      		<div><label class="width170">Date Of Appointment : </label> {{ formatDate(currentEvent.start) | date}}</div>
		      		<div><label class="width170">Patient Phone No : </label> {{currentEvent.patientPhone}}</div>
		      		<div><label class="width170">Patient Email : </label> {{currentEvent.patientMail}}</div>
      		</fieldset>
      	</div>
      	<br>
        <p>Do you want to Confirm the appointment</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"  data-dismiss="modal" ng-click="changeAppointMentStatus('accept')">Accept</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="changeAppointMentStatus('reject')">Reject</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->