<section>
    <div class="container-fluid">
        <div class="row"><img alt="gallery" src="../images/22.jpg"></div>
    </div>
</section>
<section id="dpreg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="dserhead">Doctor Registration Form</p>
                <div class="container dreggrid">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="contactForm" name="contactForm">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6 dregpad">
                                            <div>
                                                <label for="contactName">First Name <span class="required">*</span><div id="fname_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="contactName" name="contactName" title="overall type: NAME_FULL
    server type: NAME_FULL
    heuristic type: NAME_FULL
    label: Name *
    parseable name: contactName
    field signature: 3196301078
    form signature: 17693863561870007841" autofill-prediction="NAME_FULL" ng-model="signup.firstname" >

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <label for="lastName">Last Name <span class="required">*</span><div id="lname_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="lastName" name="lastName" title="overall type: NAME_FULL
    server type: NAME_FULL
    heuristic type: NAME_FULL
    label: Name *
    parseable name: contactName
    field signature: 3196301078
    form signature: 17693863561870007841" autofill-prediction="NAME_FULL" ng-model="signup.lastname">

                                            </div>
                                        </div>
                                        <div class="col-md-6 dregpad">
                                            <div>
                                                <label for="gender">Gender <span class="required">*</span><div id="gender_error" class="val_error"></div></label>
                                                <select class="form-control"  id="gender" name="gender" ng-model="signup.gender" ng-init="signup.gender='Male'">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <label for="date">Date of Birth <span class="required">*</span><div id="dob_error" class="val_error"></div></label>
                                                <input type="date"  size="35" id="date" name="date" title="overall type: NAME_FULL
    server type: NAME_FULL
    heuristic type: NAME_FULL
    label: Name *
    parseable name: contactName
    field signature: 3196301078
    form signature: 17693863561870007841" autofill-prediction="NAME_FULL" ng-model="signup.dob">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 dregpad">
                                            <div>
                                                <label for="dci">DCI Reg. No <span class="required">*</span><div id="dci_error" class="val_error"></div> </label>
                                                <input type="text"  size="35" id="dci" name="dci" ng-model="signup.dciregno">
                                            </div>
                                            <div>
                                                <label for="qual">Qualification <span class="required">*</span><div id="qual_error" class="val_error"></div></label>
                                                <select class="form-control" id="qual" name="qual" ng-model="signup.qualification" ng-init="signup.qualification='BDS'">
                                                    <option value="BDS">BDS</option>
                                                    <option value="MDS">MDS</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label for="cname">Clinic Name (if any ) </label>
                                                <input type="text"  size="35" id="cname" name="cname" ng-model="signup.clinicname">
                                            </div>
                                            <div>
                                                <label for="clinic">Clinic Address<span class="required">*</span><div id="claddr_error" class="val_error"></div></label>
                                                <textarea cols="40" rows="6" id="clinic" name="clinic" ng-model="signup.clinicaddress"></textarea>
                                            </div>
                                            <div>
                                                <label for="City">Clinic City <span class="required">*</span><div id="city_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="City" name="City" ng-model="signup.cliniccity" >
                                            </div>
                                            <div>
                                                <label for="state">Clinic State <span class="required">*</span></label>
                                                <select class="form-control" id="state" name="state" ng-model="signup.clinicstate" ng-init="signup.clinicstate='Andhra Pradesh'">
                                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                    <option value="Assam">Assam</option>
                                                    <option value="Bihar">Bihar</option>
                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                    <option value="New Delhi">New Delhi</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                    <option value="Haryana">Haryana</option>
                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                    <option value="Jharkhand">Jharkhand</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Manipur">Manipur</option>
                                                    <option value="Meghalaya">Meghalaya</option>
                                                    <option value="Mizoram">Mizoram</option>
                                                    <option value="Nagaland">Nagaland</option>
                                                    <option value="Puducherry">Puducherry</option>
                                                    <option value="Punjab">Punjab</option>
                                                    <option value="Rajasthan">Rajasthan</option>
                                                    <option value="Sikkim">Sikkim</option>
                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                    <option value="Telangana">Telangana</option>
                                                    <option value="Tripura">Tripura</option>
                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                    <option value="Uttarakhand">Uttarakhand</option>
                                                    <option value="West Bengal">West Bengal</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label for="pin">Clinic Pin <span class="required">*</span><div id="pin_error" class="val_error"></div></label>
                                                <input type="number"  size="35" id="pin" name="pin" ng-model="signup.clinicpin">
                                            </div>
                                            <div>
                                                <label for="cmobile">Clinic Contact No <span class="required">*</span><div id="cmobile_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="cmobile" name="cmobile" ng-model="signup.cliniccontact">
                                                <h4 class="dregsmall">(Shared with patients)Ex:044-12345678</h4>
                                            </div>
                                            <div>
                                                <label for="mobile">Mobile <span class="required">*</span><div id="mobileno_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="mobile" name="mobile" ng-model="signup.mobile">
                                            </div>
                                            <div>
                                                <label for="app">Are you willing to start executive appointments ? <span class="required">*</span></label>
                                                <select class="form-control" id="app" name="app" ng-model="signup.startexcapp" ng-init="signup.startexcapp='Yes'">
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <label for="spc">Specialization <span class="required">*</span><div id="spc_error" class="val_error"></div></label>
                                                <select class="form-control" id="spc" name="spc" ng-model="signup.specialization" ng-init="signup.specialization='BDS'">
                                                    <option value="BDS">BDS</option>
                                                    <option value="MDS - PEDODONTICS">MDS - PEDODONTICS</option>
                                                    <option value="MDS - CONSERVATIVE DENTISTRY AND ENDODONTICS">MDS - CONSERVATIVE DENTISTRY AND ENDODONTICS</option>
                                                    <option value="MDS - COMMUNITY DENTISTRY /PUBLIC HEALTH">MDS - COMMUNITY DENTISTRY /PUBLIC HEALTH</option>
                                                    <option value="MDS - ORAL AND MAXILLOFACIAL SURGERY (OMFS)">MDS - ORAL AND MAXILLOFACIAL SURGERY (OMFS)</option>
                                                    <option value="MDS - ORTHODONTICS">MDS - ORTHODONTICS</option>
                                                    <option value="MDS - PROSTHODONTICS">MDS - PROSTHODONTICS</option>
                                                    <option value="MDS - PERIODONTICS">MDS - PERIODONTICS</option>
                                                    <option value="MDS - ORAL MEDICINE AND RADIOLOGY">MDS - ORAL MEDICINE AND RADIOLOGY</option>
                                                    <option value="MDS - ORAL PATHOLOGY AND MICROBIOLOGY">MDS - ORAL PATHOLOGY AND MICROBIOLOGY</option>
                                                    <option value="PhD - CONSERVATIVE DENTISTRY AND ENDODONTICS">PhD - CONSERVATIVE DENTISTRY AND ENDODONTICS</option>
                                                    <option value="PhD - PROSTHODONTICS">PhD - PROSTHODONTICS</option>
                                                    <option value="PhD - ORTHODONTICS">PhD - ORTHODONTICS</option>
                                                    <option value="PhD - COMMUNITY DENTISTRY /PUBLIC HEALTH">PhD - COMMUNITY DENTISTRY /PUBLIC HEALTH</option>
                                                    <option value="PhD - ORAL PATHOLOGY AND MICROBIOLOGY">PhD - ORAL PATHOLOGY AND MICROBIOLOGY</option>
                                                    <option value="PhD - ORAL AND MAXILLOFACIAL SURGERY (OMFS)">PhD - ORAL AND MAXILLOFACIAL SURGERY (OMFS)</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label for="hours">Working Hours <span class="required">*</span><div id="hours_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="hours" name="hours" ng-model="signup.hours">
                                                <h4 class="dregsmall">Example: Mon-Fri 9.30am-1.30pm and 5pm- 9pm; sat 11am-4pm</h4>
                                            </div>
                                            <div>
                                                <label for="residential">Residential Address<span class="required">*</span><div id="addr_error" class="val_error"></div></label>
                                                <textarea cols="40" rows="6" id="residential" name="residential" ng-model="signup.address"></textarea>
                                            </div>
                                            <div>
                                                <label for="City1">Residential City <span class="required">*</span><div id="city1_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="City1" name="City1" ng-model="signup.city">
                                            </div>
                                            <div>
                                                <label for="state1">Residential State <span class="required">*</span></label>
                                                <select class="form-control" id="state1" name="state1" ng-model="signup.state" ng-init="signup.state='Andhra Pradesh'">
                                                    <option >Andhra Pradesh</option>
                                                    <option >Arunachal Pradesh</option>
                                                    <option >Assam</option>
                                                    <option >Bihar</option>
                                                    <option >Chhattisgarh</option>
                                                    <option >New Delhi</option>
                                                    <option >Goa</option>
                                                    <option >Gujarat</option>
                                                    <option >Haryana</option>
                                                    <option >Himachal Pradesh</option>
                                                    <option >Jammu and Kashmir</option>
                                                    <option >Jharkhand</option>
                                                    <option >Karnataka</option>
                                                    <option >Kerala</option>
                                                    <option >Madhya Pradesh</option>
                                                    <option >Maharashtra</option>
                                                    <option >Manipur</option>
                                                    <option >Meghalaya</option>
                                                    <option >Mizoram</option>
                                                    <option >Nagaland</option>
                                                    <option >Puducherry</option>
                                                    <option >Punjab</option>
                                                    <option >Rajasthan</option>
                                                    <option >Sikkim</option>
                                                    <option >Tamil Nadu</option>
                                                    <option >Telangana</option>
                                                    <option >Tripura</option>
                                                    <option >Uttar Pradesh</option>
                                                    <option >Uttarakhand</option>
                                                    <option >West Bengal</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label for="pin1">Residential Pin <span class="required">*</span><div id="pin1_error" class="val_error"></div></label>
                                                <input type="number"  size="35" id="pin1" name="pin1" ng-model="signup.pin">
                                            </div>

                                            <div>
                                                <label for="cmobile">Clinic Website (if any )<div id="cmobile1_error" class="val_error"></div> </label>
                                                <input type="text"  size="35" id="cmobile1" name="cmobile1" ng-model="signup.clinicwebsite">
                                            </div>
                                            <div>
                                                <label for="mobile">Email <span class="required">*</span><div id="email_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="email" name="email" placeholder="Ex:john@example.com" ng-model="signup.email" >
                                            </div>

                                            <div>
                                                <label for="mobile">Experience <span class="required">*</span><div id="exp_error" class="val_error"></div></label>
                                                <input type="text"  size="35" id="exp" name="exp" ng-model="signup.exp" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="dacc"><label><input type="checkbox" required name="agree"><span class="lever"></span>I Agree &amp; accept terms and conditions.</label></div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="dacc"><label><input type="checkbox" required name="certify"><span class="lever"></span>I certify that the  information entered above is correct to the best of my knowledge and take complete responsibility for the authenticity of the data provided.</label></div>
                                        </div>
                                    </div>
                                    <div class="row dsub">
                                        <div class="col-md-12">
                                            <div class="dgal">
                                                <div class="col-md-6">
                                                    <a href="#"><div class="btn dbtn pull-right ddis">Reset</div></a>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="submit" class="btn dbtn pull-left" ng-click="submit()">Submit</button> </div>
                                                </div>
                                            </div>
                                        </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="signupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-signin" name="signupForm">
                <h2 class="form-signin-heading">Sign Up</h2>
                <label for="inputEmail" class="sr-only">User ID</label>
                <input type="text" id="userid" class="form-control" placeholder="User ID" required="" autofocus="" ng-model="signupFinal.username" disabled>
                <p class="text-danger">{{userIDerror}}</p>
                <label for="inputPassword" class="sr-only">Password  <span class="required">*</span></label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="signupFinal.password">
                <label for="inputPassword" class="sr-only">Re-enter Password  <span class="required">*</span></label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Re-enter Password" required ng-model="signupFinal.passwordreenter">
                <p class="text-danger" ng-if="showError"><small>Passwords are not matching</small></p>

                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!signupForm.$valid" ng-click="signupfn('doctor')">Sign Up</button>
            </form>
        </div>

    </div>
</div>
