<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Add Payment</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="index.html">Dashboard</a></li>
				<li class="active">Add Payment</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h3 class="box-title">Payment Information</h3>
				<form class="form-material form-horizontal">
					<div class="form-group">
						<label class="col-md-12" for="example-text">Payment Number
						</label>
						<div class="col-md-12">
							<input type="text" id="example-text" name="example-text"
								class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12" for="paydate">Payment Date </label>
						<div class="col-md-12">
							<input type="text" id="paydate" name="paydate"
								class="form-control mydatepicker">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12" for="pname">Patient Name </label>
						<div class="col-md-12">
							<input type="text" id="pname" name="pname" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12" for="dname">Doctor Name </label>
						<div class="col-md-12">
							<input type="text" id="dname" name="dname" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12" for="toamt">Total Amount </label>
						<div class="col-md-12">
							<input type="text" id="toamt" name="toamt" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12" for="toamt">Discount </label>
						<div class="col-md-12">
							<input type="text" id="toamt" name="toamt" class="form-control"
								data-mask="99.99%">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12" for="fiamt">Final Amount </label>
						<div class="col-md-12">
							<input type="text" id="fiamt" name="fiamt" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-12">Payment Method</label>
						<div class="col-sm-12">
							<select class="form-control">
								<option>Select Method</option>
								<option>Cash</option>
								<option>Cheque</option>
								<option>Credit Card</option>
								<option>Debit Card</option>
								<option>Netbanking</option>
								<option>Insurance</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-12">Payment Status</label>
						<div class="col-sm-12">
							<select class="form-control">
								<option>Select Status</option>
								<option>Complete</option>
								<option>Pending</option>
								<option>Partial</option>
							</select>
						</div>
					</div>
					<button type="submit"
						class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
					<button type="submit"
						class="btn btn-inverse waves-effect waves-light">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>