<div class="">
	<!-- <div class="preloader">
		<div class="cssload-speeding-wheel"></div>
	</div> -->

	<div id="wrapper">

		<nav class="navbar navbar-default navbar-static-top m-b-0 doctor-dash-nav">
			<div class="navbar-header ma0">
				<a class="navbar-toggle hidden-sm hidden-md hidden-lg dashbaord"
					href="javascript:void(0)" data-toggle="collapse"
					data-target=".navbar-collapse"><i class="ti-menu"></i></a>
				<div class="top-left-part">
					<a class="logo" href="index.html"> <img src="images/logo.png"
						alt="home">
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-left hidden-xs active">
					<li class="in">
						
					</li>
				</ul>
				<ul class="nav navbar-top-links navbar-right pull-right">
					
				</ul>
			</div>
		</nav>


		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse slimscrollsidebar">
				<ul class="nav" id="side-menu">
					<li class="nav-small-cap m-t-10">&nbsp; Main Menu</li>
					<li><a href="#/doctor/dashboard" class="waves-effect"><i
							class="ti-dashboard p-r-10"></i> <span class="hide-menu">Dashboard</span></a></li>
					<li><a href="javascript:void(0);" class="waves-effect"><i
							class="ti-calendar p-r-10"></i> <span class="hide-menu">Appointment
								<span class="fa arrow"></span>
						</span></a>
						<ul class="nav nav-second-level">
							<li><a href="#/doctor/schedule">My Schedule</a></li>
						</ul></li>
					<li><a href="javascript:void(0);" class="waves-effect"><i
							class="icon-people p-r-10"></i> <span class="hide-menu">Patients
								<span class="fa arrow"></span>
						</span></a>
						<ul class="nav nav-second-level">
							<li><a href="#/doctor/patients">All Patients</a></li>
							<li><a href="#/doctor/addPatient">Add Patient</a></li>
						</ul></li>
					<!-- <li><a href="javascript:void(0);" class="waves-effect"><i
							class="icon-chart p-r-10"></i> <span class="hide-menu">Reports
								<span class="fa arrow"></span>
						</span></a>
						<ul class="nav nav-second-level">
							<li><a href="#">Payment Report</a></li>
							<li><a href="#">Sales Report</a></li>
						</ul></li>
					<li><a href="javascript:void(0);" class="waves-effect"><i
							class="fa fa-inr p-r-10"></i> <span class="hide-menu">Payments
								<span class="fa arrow"></span>
						</span></a>
						<ul class="nav nav-second-level">
							<li><a href="#/doctor/addPayment">Add Payment</a></li>
							<li><a href="#/doctor/payments">Payments</a></li>
						</ul></li> -->
				</ul>
			</div>
		</div>
		
		<div id="page-wrapper">
			<div ui-view></div>
		</div>

	</div>
	<script type="text/javascript">
		jQuery('.mydatepicker').datepicker();
	</script>
	<script type="text/javascript">
		(function() {
			[].slice.call(document.querySelectorAll('.sttabs')).forEach(
					function(el) {
						new CBPFWTabs(el);
					});
		})();
		$(document).ready(function() {
			$('#myTable').DataTable();

		});
		jQuery(document).ready(function() {
			$(".select2").select2();
		});
		$(document).ready(function() {
			$('.dropify').dropify();
		});
	</script>
</div>