<div class="container-fluid">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Dentist Dashboard</h4>
			</div>
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
				<ol class="breadcrumb">
					<li><a href="index.html">Dental</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!--row -->
		<div class="row">
				<div class="row">
					<div class="col-md-4 col-sm-6 cursor-pointer" ng-click="homeDoctor = !homeDoctor" ng-init="homeDoctor = true">
						<div class="white-box">
							<div class="r-icon-stats">
								<i class="ti-user"></i>
								<div class="bodystate">
									<h4>{{allPatients.length}}</h4>
									<span class="text-muted">Patient</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 cursor-pointer" ng-click="homeDoctor = !homeDoctor" >
						<div class="white-box">
							<div class="r-icon-stats">
								<i class="ti-user"></i>
								<div class="bodystate">
									<h4>{{todayEvents.length}}</h4>
									<span class="text-muted">Todays <br> Appointments</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-sm-12" ng-show="homeDoctor">
						<div class="white-box" ng-if="allPatients.length !== 0">
							<h3 class="box-title m-b-0">Patient List</h3>
							<p class="text-muted">List of Patients</p>
							
							<div class="input-group">
							  <span class="input-group-addon" id="sizing-addon2">Search</span>
							  <input type="text" class="form-control" placeholder="Search" ng-model="search">
							</div>
		
							<div class="table-responsive">
								<table class="table dasboard-table">
									<thead>
										<tr>
											<th class="col-xs-1">#</th>
											<th class="col-xs-3">First Name</th>
											<th class="col-xs-3">Last Name</th>
											<th class="col-xs-3">Username</th>
											<th class="col-xs-2">View Treatment</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="patient in allPatients | searchFilter : search">
											<td class="col-xs-1">{{$index+1}}</td>
											<td class="col-xs-3">{{patient.data.firstname}}</td>
											<td class="col-xs-3">{{patient.data.lastname}}</td>
											<td class="col-xs-3">{{patient.data.username}}</td>
											<td class="col-xs-2"><a ui-sref="doctor.treatmentDetails({data : patient})">View Treatment</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="white-box" ng-if="allPatients.length == 0">
							<h3 class="box-title m-b-0">No Patients Added</h3>
							
						</div>
					</div>
					
					<div class="col-sm-12" ng-show="!homeDoctor">
						<h4>Today's Appointments</h4>
						<div id='calendar'></div>
					</div>
				</div>
			
		</div>
	</div>
	
	