<section class="forgot-pass">
        <div class="row">
            <div class="col-md-12">
                <p class="dregihead">Forgot Password?</p>
            </div>
        </div>
        <div class="container">
            <div class="row" ng-hide="showSuccessText">
                <div class="col-md-12" style="display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">
                <form>
                  <input type="text" name="pass" placeholder="Enter your Username" ng-model="username">
                  <a href="javascript:void(0)"><div class="btn dbtn" ng-click="forgotPassSubmit()">Submit</div></a>
                </form>
                </div>
            </div>
            <div ng-show="showSuccessText">
            	<h3 style="text-align:center">Your Password Has Been Sent To Your Registered Mail-ID</h3>
            </div>
        </div>
    </section>