  
     
    <section>
        <div class="container-fluid">
           <div class="row">
            <img src="../images/gallary.jpg" alt="gallery">
            </div>
        </div>
    </section>
    
    <section>
       
       <div class="container">
           <div class="row dgalpad">
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/1.jpg" alt="">
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/2.jpg" alt="">
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/3.jpg" alt="">
                   </div>
               </div>
           </div>
           <div class="row dgalpad">
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/4.jpg" alt="">
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/5.jpg" alt="">
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/6.jpg" alt="">
                   </div>
               </div>
           </div>
           <div class="row dgalpad">
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/7.jpg" alt="">
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/8.jpg" alt="">
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="dgalbox">
                       <img src="../images/dentist/9.jpg" alt="">
                   </div>
               </div>
           </div>
       </div>

      
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="dgal">
<div class="col-md-6">
<a href="#"><div class="btn dbtn pull-right ddis">Previous</div></a>
</div>
                    
<div class="col-md-6">
<a href="#"><div class="btn dbtn pull-left">Next</div></a>
</div>       
     </div>
              </div>
          </div>
      </div>
      
       
                            
    </section>
    
    
    
