
    <section>
 
       <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 dabt">
                  
                  <p class="dserhead">Dantalaya for Dental Lab Technician</p>
                    <div class="row" style="margin: 30px 0px;">
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <p>Showcase your company profile and Promote your lab to dentists across the country</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                <p>Search dentist/dental clinics based on your location</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ser-bullet">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                <p> Announce latest offers or deals to boost up your business.</p>
                            </div>
                        </div>
                    </div>
                  <div class="row">
<!--            <img src="../images/patient.jpg" alt="services">-->
            </div>
               
<p>
    <ul class="dserli">
        <li>Unique opportunity for Dental labs all over India to improve practice.</li>
        <li>Reach out to more Doctors with Dantalaya.</li>
        <li>Receive orders everyday and Meet new Doctors at your convenient time.</li>
        <li>Easy payment options for the first time in India.</li>
    </ul>
  </p>   
               
               <a href="#/technicianregister"><div class="btn btn-block dbtn dbtn1">Register as a lab technician now</div></a>
                </div>
            </div>
        </div>
   
         
    </section>
    