
<section class="NewPatientProfile">
    <h1>Register New Patient</h1>
    <form>
        <div id="SearchPatient" class="NewPatientSearch">
            <span>Enter email or mobile number of patient:</span>
            <span><input type="text" name="location" placeholder="Example: xyz@xyz.in or 1234567890" required ></span>
            <div class="norecords"><span>*</span><span>No records found, please <a href="#"> click here</a></span></div>
            <button type="submit" class="btn dbtn" onclick="window.location='#/newpatientregister'">Register</button>
        </div>
        </div>
    </form>
</section>