<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 dabt">
                <p class="dserhead">Dantalaya for General Public</p>
                <div class="row">
                    <img src="../../images/234.png" alt="services">
                </div>
                <div class="row" style="margin: 30px 0px;">
                    <div class="col-md-4">
                        <div class="ser-bullet">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <p>Search Dentist/Dental clinics based on your location</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ser-bullet">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <p>Avail interest-free loans for every procedure</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ser-bullet">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <p>View past & current treatment history</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 30px 0px;">
                    <div class="col-md-4">
                        <div class="ser-bullet">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                            <p>Choose the Dentist and schedule appointment at your convenience!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ser-bullet">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <p>Treatment first payment later/EMI options also available</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ser-bullet">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p>Uniform treatment prices throughout India.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="dserpad">
                            <ul>
                                <li>Do you have a tooth problem?</li>
                                <li>Does your <b>child</b> complain about tooth pain?</li>
                                <li>Do you need to get your <b>teeth replaced?</b></li>
                                <li>Do you have <b>bad breath?</b></li>
                                <li><b>Do not know</b> any Dentist in your place?</li>
                                <li>Do you think Dental treatment is <b>expensive?</b></li>
                                <li>Are you <b>thinking</b> of <b>postponing</b> your Dental appointment?</li>
                            </ul>
                            <a href="#/patientregister">
                                <div class="btn btn-block dbtn dbtn1">Register now</div>
                            </a>
                            <p>Please note all prices are for basic materials which are normally used in the clinics. Consult your Doctor for the latest options available. Prices will vary depending on the age and  Oral status of the patient.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="price-list">


                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="" colspan="2"><center>Dantalaya price list</center></th>
                                </tr>
                                </thead>
                                <thead>
                                <tr>
                                    <th>Treatments</th>
                                    <th>Starting Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Scaling (oral prophylaxis)</td>
                                    <td>Rs 250/</td>
                                </tr>
                                <tr>
                                    <td>Fillings</td>
                                    <td>Rs 150/</td>
                                </tr>
                                <tr>
                                    <td>RCT</td>
                                    <td>Rs 950/</td>
                                </tr>
                                <tr>
                                    <td>Extractions</td>
                                    <td>Rs 150/</td>
                                </tr>
                                <tr>
                                    <td>Crowns and bridges</td>
                                    <td>Rs 850/unit</td>
                                </tr>
                                <tr>
                                    <td>Removable Dentures</td>
                                    <td>Rs 550/unit</td>
                                </tr>
                                <tr>
                                    <td>Full mouth Dentures</td>
                                    <td>Rs 5500/</td>
                                </tr>
                                <tr>
                                    <td>Braces(orthodontic)</td>
                                    <td>Rs 750/month</td>
                                </tr>
                                <tr>
                                    <td>Teeth whitening</td>
                                    <td>Rs 1750/arch</td>
                                </tr>
                                <tr>
                                    <td>Gum surgeries</td>
                                    <td>Rs 2500/arch</td>
                                </tr>
                                <tr>
                                    <td>Single tooth implants</td>
                                    <td>Rs 14000/</td>
                                </tr>
                                <tr>
                                    <td>Full mouth rehabilitation</td>
                                    <td>Rs 18000/</td>
                                </tr>
                                <tr>
                                    <td>Home visits</td>
                                    <td>Rs 350/</td>
                                </tr>
                                <tr>
                                    <td>Executive appointments</td>
                                    <td>Rs 300/</td>
                                </tr>
                                <tr>
                                    <td>Immediate Dentures</td>
                                    <td>Rs 850/</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="dserpad">
                    <center>
                        <h2>DANTALAYA has a solution for everything.</h2></center>
                    <ul>
                        <li>Meet <b>experienced</b> Dental Practitioners for the entire family at the click of a button!</li>
                        <li> Be it a :Root Canal Procedure, Irregular Teeth, Wisdom Teeth Extraction, Fixed and Removable Dentures, Braces For Children And Adults, Dental Implants, Scaling/Teeth Whitening, Dental Cosmetics, Gum Surgeries........all treatments under one roof! </li>

                    </ul>
                </div>
                <hr class="dabthr">
                <div class="dserpad">
                    <center>
                        <h2> TREATMENT FIRST PAYMENT LATER </h2></center>
                    <ul>
                        <li> Dantalaya introduces <b>EMI options for the first in India! </b></li>
                        <li>Payment methods: credit/debit card, online transfer, cheque and EMI options made easy so that you don't postpone your treatment! </li>
                        <li>Contact your Doctor for more information about PAYMENTS! </li>
                    </ul>
                </div>
                <hr class="dabthr">
                <div class="dserpad">
                    <center>
                        <h2>UNIFORM TREATMENT PRICES THROUGHOUT INDIA </h2></center>
                    <ul>
                        <li>At Dantalaya treatment prices have been made very <b>affordable so that it benefits the general public.</b> </li>
                        <li>Many people fail to see the Dentist each year, even though regular Dental examinations and good oral hygiene can prevent most Dental Diseases. </li>
                        <li> Dantalaya will schedule <b>appointments at your convenience!</b></li>
                        <li> <b>Reminders</b> to visit the Doctor to avoid inconvenience! </li>
                        <li>Introducing <b>full- mouth rehabilitation</b> programs for the first time!</li>
                        <li> <b>Executive</b> appointments for the busy professional!</li>
                        <li>Attractive treatment packages for <b>children</b> and <b>adults</b>!</li>
                        <li> Receive <b>bills online!</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="dabthr">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 dabt">
                <p class="dserhead">NRI's/Foreigners </p>
                <div class="row">
                    <!--            <img src="../images/patient.jpg" alt="services">-->
                </div>
                <p>
                <ul class="dserli">
                    <li>Dantalaya introduces <b>comprehensive Dental</b> care for NRIs and Foreigners for the first time in India at <b>unbelievable prices!</b> </li>
                    <li>Dantalaya is a Dental Health <b>online</b> platform that enables you to find solutions for all your Dental problems.</li>
                    <li>Find <b>everything</b> at Dantalaya to get that <b>perfect</b> smile! </li>
                    <li> Standardized Dental Clinics with focus on <b>sterilization</b> and <b>total hygiene!</b> </li>
                    <li> Meet <b>experienced</b> Dental Surgeons anywhere in India! </li>
                    <li>Treatment first: payments later! </li>
                    <li><b>Flexible</b> payment options: credit card/ debit card, online transfer and EMI options tailor-made for every Dental procedure! </li>
                    <li> Appointments scheduled according to your <b>convenience</b>! Uniform prices throughout the country! </li>
                    <li><b>Full-mouth rehabilitation</b> introduced for the first time! </li>
                    <li><b>Cosmetic</b> procedures to enhance that smile!</li>
                    <li>Very attractive offers for <b>children</b> and the <b>elderly</b>!</li>
                    <li> Avail <b>executive</b> appointments and <b>save time</b>!</li>
                    <li> Make your stay in <strong>India </strong> a memorable one!</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>
