
    
    <section id="dpreg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  
                  <p class="dserhead">Patient Profile</p>
                  
                      <div class="container dreggrid">
              <div class="row">
                  <div class="col-md-12">
                      <form id="contactForm" name="contactForm">
          <fieldset>
           <div class="row">
           		<div class="col-md-6 dregpad">
           			<div>
           				<img ng-src="{{signup.photo}}" width="116"  height="120" />
           			</div>
           			 
           			 <br>
           			 <label class=""><small>*Upload Photo of size less than 15 KB and of resolution 116px * 120px</small></label>
		        	 <input type="file" ng-model="signup.photo" accept="image/*"  app-filereader style="margin: 0px;"/>	        	 
		        	 <p class="text-danger" ng-if="showError"><small>File Size not less than 15 KB</small></p>
           		</div>
	        </div>

              <div class="row">
                  <div class="col-md-6 dregpad">
                      <div>
                          <label for="contactName">First Name <span class="required">*</span><div id="fname_error" class="val_error"></div></label>
                          <input type="text" value="" size="35" id="contactName" name="contactName" title="overall type: NAME_FULL
    server type: NAME_FULL
    heuristic type: NAME_FULL
    label: Name *
    parseable name: contactName
    field signature: 3196301078
    form signature: 17693863561870007841" autofill-prediction="NAME_FULL" ng-model="signup.firstname" disabled >
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div>
                          <label for="lastName">Last Name <span class="required">*</span><div id="lname_error" class="val_error"></div></label>
                          <input type="text" value="" size="35" id="lastName" name="lastName" title="overall type: NAME_FULL
    server type: NAME_FULL
    heuristic type: NAME_FULL
    label: Name *
    parseable name: contactName
    field signature: 3196301078
    form signature: 17693863561870007841" autofill-prediction="NAME_FULL" ng-model="signup.lastname" disabled >
                      </div>
                  </div>
                  <div class="col-md-6 dregpad">
                      <div>
                          <label for="gender">Gender <span class="required">*</span></label>
                          <select class="form-control"  id="gender" name="gender" ng-model="signup.gender" disabled>
                              <option>Male</option>
                              <option>Female</option>
                              <option>Other</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div>
                          <label for="date">Date of Birth <span class="required">*</span><div id="dob_error" class="val_error"></div></label>
                          <input type="date" value="" size="35" id="date" name="date"  autofill-prediction="NAME_FULL" ng-model="signup.dob" disabled >
                      </div>
                  </div>
                  <div class="col-md-6 dregpad">
                      <div>
                          <label for="aadhaar">Aadhaar number  <div id="aadhaar_error" class="val_error"></div></label>
                          <input type="text" value="" size="35" id="aadhaar" name="aadhaar" ng-model="signup.aadhaarno">
                      </div>
                      <div>
                          <label for="residential">Residential Address<span class="required">*</span><div id="addr_error" class="val_error"></div></label>
                          <textarea cols="40" rows="6" id="residential" name="residential" ng-model="signup.address" ></textarea>
                      </div>
                  </div>
                  <div class="col-md-6">
                  </div>
              </div>


            <div class="row">
           
           
            <div class="col-md-6 dregpad">
                 
                  <div>
						   <label for="City">City <span class="required">*</span><div id="city_error" class="val_error"></div></label>
						   <input type="text" value="" size="35" id="City" name="City" ng-model="signup.city" >
                  </div>

                  <div>
						   <label for="pin">Pin <span class="required">*</span><div id="pin_error" class="val_error"></div></label>
						   <input type="number" value="" size="35" id="pin" name="pin" ng-model="signup.pin" >
                  </div>
                  
             
                  
            </div>
                 
            <div class="col-md-6">

               <div>
						   <label for="state">State <span class="required">*</span></label>
						   <select class="form-control"  id="state" name="state" ng-model="signup.state" >
                              <option >Andhra Pradesh</option>
                              <option >Arunachal Pradesh</option>
                              <option >Assam</option>
                              <option >Bihar</option>
                              <option >Chhattisgarh</option>
                              <option >New Delhi</option>
                              <option >Goa</option>
                              <option >Gujarat</option>
                              <option >Haryana</option>
                              <option >Himachal Pradesh</option>
                              <option >Jammu and Kashmir</option>
                              <option >Jharkhand</option>
                              <option >Karnataka</option>
                              <option >Kerala</option>
                              <option >Madhya Pradesh</option>
                              <option >Maharashtra</option>
                              <option >Manipur</option>
                              <option >Meghalaya</option>
                              <option >Mizoram</option>
                              <option >Nagaland</option>
                              <option >Puducherry</option>
                              <option >Punjab</option>
                              <option >Rajasthan</option>
                              <option >Sikkim</option>
                              <option >Tamil Nadu</option>
                              <option >Telangana</option>
                              <option >Tripura</option>
                              <option >Uttar Pradesh</option>
                              <option >Uttarakhand</option>
                              <option >West Bengal</option>
                           </select>
                  </div>
                  
            </div>

                  
</div>
         
                     <div class="row">
           
           
            <div class="col-md-6 dregpad">
                 
                  <div>
						   <label for="mobile">Mobile <span class="required">*</span><div id="mobileno_error" class="val_error"></div></label>
						   <input type="number" value="" size="35" id="mobile" name="mobile" ng-model="signup.mobile" >
                  </div>
              
            </div>
                 
            <div class="col-md-6">

             <div>
					<label for="mobile">Email <span class="required">*</span><div id="email_error" class="val_error"></div></label>
					<input type="email" value="" size="35" id="email" name="email" ng-model="signup.email" disabled >
             </div>
         </div>

                  
</div>
          
   <div class="row">
           
           
            <div class="col-md-6 dregpad">
                 
                  <div>
						   <label for="sec1">Security Question 1 <span class="required">*</span><div id="ques1_error" class="val_error"></div></label>
						   <select class="form-control"  id="sec1" name="sec1"  ng-model="signup.ques1" >
                              <option value="">--Select--</option>
                              <option value="Which phone number do you remember most from your childhood?">Which phone number do you remember most from your childhood?</option>
                              <option value="What was your favorite place to visit as a child?">What was your favorite place to visit as a child?</option>
                              <option value="What is the last name of the teacher who gave you your first failing grade?">What is the last name of the teacher who gave you your first failing grade?</option>
                              <option value="What street did you grow up on?">What street did you grow up on?</option>
                              
                           </select>
                  </div>
              
            </div>
                 
            <div class="col-md-6">

             <div>
					<label for="answer">Answer <div id="ans1_error" class="val_error"></div></label>
					<input type="text" value="" size="35" id="answer" name="answer" ng-model="signup.answer1">
             </div>
         </div>

                  
</div>
          
   <div class="row">
           
           
            <div class="col-md-6 dregpad">
                 
                  <div>
						   <label for="sec2">Security Question 2 <span class="required">*</span><div id="ques2_error" class="val_error"></div></label>
						   <select class="form-control"  id="sec2" name="sec2" ng-model="signup.ques2"  >
                              <option value="">--Select--</option>
                              <option value="What time of the day were you born? (hh:mm)">What time of the day were you born? (hh:mm)</option>
                              <option value="In what city or town does your nearest sibling live?">In what city or town does your nearest sibling live?</option>
                              <option value="What is the make of your favourite car?">What is the make of your favourite car?</option>
                              <option value="What was the name of your elementary / primary school?">What was the name of your elementary / primary school?</option>
                           </select>
                  </div>
              
            </div>
                 
            <div class="col-md-6">

             <div>
					<label for="answer2">Answer <div id="ans2_error" class="val_error"></div></label>
					<input type="text" value="" size="35" id="answer2" name="answer2" ng-model="signup.answer2">
             </div>
         </div>

                  
</div>
     
     
      
           <div class="row dsub">
               <div class="col-md-12" style="display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">
                <div class="dgal">
                    
<div class="col-md-6">
	<button type="submit" class="btn dbtn pull-left" ng-click="save()">Save Changes</button>
</div>       
     </div>
                  </div>
                  </div>
                  
                  
					</fieldset>
				   </form>
                  </div>
              </div>
          </div>                  
    
           </div>
            </div>
        </div>

</section>
 