
     <section>
        
         <div class="row">
                <div class="col-md-12 dabt">
                  
                  <p class="dregihead">Choose Registration Profile</p>
             </div>
         </div>
         
        
         <div class="container">
             <div class="row">
                 <div class="col-md-3">
                     <a href="#/patientregister"><div class="dregbox">General Public</div></a>
                 </div>
                 <div class="col-md-3">
                     <a href="#/doctorregister"><div class="dregbox">Doctor</div></a>
                 </div>
                 <div class="col-md-3">
                     <a href="#/surgeonregister"><div class="dregbox">House Surgeon</div></a>
                 </div>
                 <div class="col-md-3">
                     <a href="#/technicianregister"><div class="dregbox">Technician</div></a>
                 </div>
             </div>
         </div>
     </section>
       
         
           
             
               
  