 <section>
        <div class="container-fluid">
           <div class="row">
           <!-- <img src="../images/services.jpg" alt="services"> -->
            </div>
        </div>
    </section>


        <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 dabt">
                    <p class="dregihead">Choose Registration Profile</p>
                </div>
                <div class="col-md-3">
                    <a href="#/services/patient"><div class="dregbox">General Public/Foreigners</div></a>
                </div>
                <div class="col-md-3">
                    <a href="#/services/dentist"><div class="dregbox">Dental Practitioners</div></a>
                </div>
                <div class="col-md-3">
                    <a href="#/services/surgeon"><div class="dregbox">House Surgeon</div></a>
                </div>
                <div class="col-md-3">
                    <a href="#/services/labtechnician"><div class="dregbox">Dental Labs/Proprietors</div></a>
                </div>
            </div>

            <hr>
             <div class="col-sm-12 col-md-6">

            <table id="pricelisttable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="" colspan="2" style="background-color:#7086f7; color:#FFFFFF; opacity: 50%; "><center>Dantalaya Price List</center></th>
                </tr>
                </thead>
                <thead>
                <tr style="background-color:#ffc0cb; color:#FFFFFF;">
                    <th>Treatments</th>
                    <th>Starting Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Scaling (oral prophylaxis)</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 250</td>
                </tr>
                <tr>
                    <td>Fillings</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 150</td>
                </tr>
                <tr>
                    <td>RCT</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 550</td>
                </tr>
                <tr>
                    <td>Extractions</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 150</td>
                </tr>
                <tr>
                    <td>Crowns and bridges</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 550/unit</td>
                </tr>
                <tr>
                    <td>Removable Dentures</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 550/unit</td>
                </tr>
                <tr>
                    <td>Full mouth Dentures</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 4500</td>
                </tr>
                <tr>
                    <td>Braces(orthodontic)</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 550/month</td>
                </tr>
                <tr>
                    <td>Teeth whitening</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 1750/arch</td>
                </tr>
                <tr>
                    <td>Gum surgeries</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 2500/arch</td>
                </tr>
                <tr>
                    <td>Single tooth implants</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 12000</td>
                </tr>
                <tr>
                    <td>Full mouth rehabilitation</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 15000</td>
                </tr>
                <tr>
                    <td>Home visits</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 350</td>
                </tr>
                <tr>
                    <td>Executive appointments</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 300</td>
                </tr>
                <tr>
                    <td>Immediate Dentures</td>
                    <td><i class="fa fa-inr" aria-hidden="true"></i> 850</td>
                </tr>
                </tbody>
            </table>
             </div>
            <div class="col-sm-12 col-md-6" id="packageList">
                <table id="pricelisttable" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th colspan="2" style="background-color:#7086f7; color:#FFFFFF; opacity: 50%; "><center>Dantalaya Packages</center></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Gift vouchers</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Pre-birthday smile treatment</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Pre-engagement cosmetics</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Pre- nuptial make-up</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td> Anniversary Dental package</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Edentulous offers; only for retired personal</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Summer smiles for children; preferably braces</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Confidence booster for job seekers</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Bon voyage package; for the people going abroad</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Travel smiles; on your first visit to India</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Student discounts; for any treatment</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Special discounts; for senior citizens</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Regular recall for Diabetics</td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>Full- mouth rehabilitation packages for adults</td>
                    </tr>
                    </tbody>
                    <thead>
                </table>

            </div>
        </div>
            <div class="alert alert-info">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Please note all prices are for basic materials which are normally used in the clinics. Consult Your Doctor for the latest options available. Prices will vary according to the age of the patient and the Oral status.
            </div>


        </section>
