<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <img src="../images/spe.jpg" alt="aboutus">
        </div>
    </div>
</section> -->

<section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 dabt1">

                <h2>ROOT CANAL THERAPY</h2>

                <p class="dabtpad">
                    If your tooth's nerve chamber becomes infected by decay, root canal treatment is often the only way to save your tooth. Inside your tooth's hard outer shell is a nourishing pulp of blood vessels, lymph vessels, and nerves. The root canals, which contain the pulp, extend to the bone. Deep tooth decay, or an injury, can cause serious damage and infection to the pulp's nerves and vessels. Root canal, or endodontic, treatment cleans out the infected pulp chamber ad repairs the damage. Some indications of the need for root Canal Treatment, may be Spontaneous pain or throbbing while biting. Sensitivity to hot and cold foods.

                </p>


            </div>

            <div class="col-md-6 dabt1">

                <h2>CROWN &amp; BRIDGES</h2>

                <p class="dabtpad">
                    When a tooth is heavily decayed it is more likely to fracture and lose considerable tooth substance. Crowns, also known as caps, restore damaged teeth and mimic the shape, size and color of the surrounding teeth. Crowns are indicated for cracked teeth and teeth with deep cavities to protect teeth that have been filled by root-canal treatment to provide extra support for bridges and to cover poorly shaped or discolored teeth. Crowns may be made of metal, porcelain, or newer restorative materials like metal free ceramics. They are custom-made and fitted for each patient in conformation with the size and length of the natural teeth.

                </p>


            </div>

        </div>
    </div>

    <hr class="dabthr">






    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 dabt1">

                <h2>DENTAL IMPLANTS</h2>

                <p class="dabtpad">
                    Dental implants are fixtures of titanium which are surgically screwed into your jaw bone. The implant is an anchor for a naturally-appearing your jaw bone. The implant is an anchor for a naturally-appearing false tooth or a set of false teeth. The success rate of Dental Implants depends on where the implants are placed and their purpose. They are typically best placed in the front portion of your lower jaw. Implants are great for replacing missing teeth. It is important that you have enough bone in the area of the missing teeth for the implants to be attached. If you're missing one tooth or all of your teeth, implants may well be for you.

                </p>


            </div>

            <div class="col-md-6 dabt1">

                <h2>GUM THERAPY</h2>

                <p class="dabtpad">
                    Gum therapy is the most effective way to treat gum disease. During Scaling &amp; Root Planning (Gun Treatment), the dentist cleans between the gums and teeth, down to the root. Your dentist may need to use local anesthetic to numb the gums and the roots of your teeth while the procedure is performed. It is important that individuals with gum (periodontal) disease have this procedure done. It helps to reduce bad breath, bleeding gums, receding gums and caries. And helps in improving and maintaining good oral health. Gun Therapy makes your teeth clean, stain free and healthy.

                </p>


            </div>
        </div>
    </div>
    <hr class="dabthr">



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 dabt1">

                <h2>DENTURES</h2>

                <p class="dabtpad">
                    A denture is a removable replacement for missing teeth and surrounding tissues. In simple words dentures are false teeth made to replace teeth you have lost. Advances in dentistry have made many improvements in dentures. Now dentures are more natural looking and comfortable than they used to be. But they still may feel strange at first. In the beginning, your dentist may want to see you often to make sure the dentures fit perfectly. Over time, your mouth will change and dentures may need adjustment or may need to be replaced. Be sure to let your dentist handle these adjustments.

                </p>


            </div>

            <div class="col-md-6 dabt1">

                <h2>TEETH WHITENING</h2>

                <p class="dabtpad">
                    Tooth whitening is a direction many people take when they discover their teeth have been discolored due to aging, by medications and chemicals or stained by beverages such as coffee and certain types of wine. Whitening will not correct certain forms of discoloration. Teeth with bonding or certain tooth-colored fillings will not bleach and appear rather unsightly as a result. A dentist may recommend veneers, which cover the entire tooth, instead of whitening in these instances. However, whitening can be an ideal way to restore a healthy appearance to the teeth.

                </p>


            </div>
        </div>
    </div>
    <hr class="dabthr">




    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 dabt1">

                <h2>TOOTH JEWELLERY</h2>

                <p class="dabtpad">
                    Tooth Jewellery is a brilliant way to add sparkles to your smile and stand out of the crowd. Tooth jewellery is the latest thing in cosmetic dentistry  and it's popular with people of all ages. Surprise your friends with a sparkling crystal glass design, or something in gold with a twinkle of ruby or diamond. These tiny little designs are great fun, and because there's no drilling involved, they won't harm your teeth.


                </p>


            </div>

            <div class="col-md-6 dabt1">

                <h2>Braces - Orthodontics</h2>

                <p class="dabtpad">
                    You might have seen kids wearing braces or wires on their teeth. They are in fact going through this treatment called orthodontic treatment. This treatment corrects the irregularities of your teeth. For example, if you have a bad bite because of crowed or crooked teeth. Teeth in irregular position lead to an undesirable appearance, and smile. To correct such problems, one has to go through this treatment. Wires and brackets help to move teeth from their current position to the correct position. Orthodontic treatment helps in improving the oral health condition and facial bone development too.


                </p>


            </div>
        </div>
    </div>


</section>
