
    <section>
 
               <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 dabt">
                  
                  <p class="dserhead">Dantalaya for House Surgeons</p>
                    <div class="row" style="margin: 30px 0px;">
                        <div class="col-md-6">
                            <div class="ser-bullet">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                <p>Update your contacts and qualification details.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ser-bullet">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <p>Search dentist/dental clinics to gain clinical exposure.</p>
                            </div>
                        </div>
                    </div>

                  <div class="row">
<!--            <img src="../images/patient.jpg" alt="services">-->
            </div>
               
<p>
    <ul class="dserli">
        <li>Unique opportunity for interns across the country to gain clinical exposure during internship.</li>
        <li>Interns will be certified with experience certificates from the respective clinics.</li>
        <li>Learn the art of Dentistry from senior Doctors.</li>
        <li>Increase your knowledge about private practice.</li>
        <li>Expose yourself to multiple cases with hands-on training.</li>
        <li>Empower yourself with different skills.</li>
        <li>Be ready to start your own practice.</li>
        <li>Time to make community smile.</li>
    </ul>
  </p>   
               
               <a href="#/surgeonregister"><div class="btn btn-block dbtn dbtn1">Register as a House Surgeon now</div></a>
                </div>
            </div>
        </div>
        
         
    </section>